<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 © Roma Technology Ltd. All rights reserved.
 * See COPYING.txt for license details.
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="customer_register_success">
    <observer name="zoho_customer_register_success" instance="RTech\Zoho\Observer\CustomerRegisterSuccess"/>
  </event>
  <event name="customer_account_edited">
    <observer name="zoho_customer_account_edited" instance="RTech\Zoho\Observer\CustomerAccountEdited"/>
  </event>
  <!--
  <event name="customer_address_save_after">
    <observer name="zoho_customer_address_save_after" instance="RTech\Zoho\Observer\CustomerAddressSaveAfter"/>
  </event>
  -->
  <event name="sales_order_save_after">
    <observer name="zoho_sales_order_save_after" instance="RTech\Zoho\Observer\SalesOrderSaveAfter" />
  </event>
  <event name="sales_order_invoice_pay">
    <observer name="zoho_sales_order_invoice_pay" instance="RTech\Zoho\Observer\SalesOrderInvoicePay"/>
  </event>
  <event name="saved_quote_saved_after">
    <observer name="zoho_saved_quote_saved_after" instance="RTech\Zoho\Observer\SavedQuoteSavedAfter"/>
  </event>

</config>