<?xml version="1.0"?>
<!--
/**
* Copyright 2018 © Roma Technology Ltd. All rights reserved.
* See COPYING.txt for license details.
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
  <!-->
    <tab id="zoho" translate="label" sortOrder="10">
      <label>Zoho</label>
    </tab>
    -->

    <section id="zoho" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
      <class>separator-top</class>
      <label>Zoho</label>
      <tab>contentful</tab>
      <resource>RTech_Zoho::zoho_config</resource>

      <group id="organisation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Organisation</label>
        <field id="id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Organisation ID</label>
        </field>
      </group>

      <group id="books" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Books</label>
        <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>API Key</label>
        </field>
        <field id="url" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Endpoint</label>
          <comment>API endpoint URL</comment>
        </field>
        <field id="eu_vat_group" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Magento EU VAT Registered Group</label>
          <comment>Name of Magento customer group for EU VAT registered customners</comment>
        </field>
        <field id="quote_validity" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Quote Validity </label>
          <comment>Number of days for quotes to be valid for</comment>
        </field>
      </group>

      <group id="inventory" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Inventory</label>
        <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>API Key</label>
        </field>
        <field id="url" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Endpoint</label>
          <comment>API endpoint URL</comment>
        </field>
        <field id="shipping_sku" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Shipping SKU</label>
          <comment>The Zoho Inventory SKU for shipping</comment>
        </field>
      </group>

    </section>

  </system>
</config>