<?xml version="1.0"?>
<!--
/**
* Copyright 2018 © Roma Technology Ltd. All rights reserved.
* See COPYING.txt for license details.
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
  <!-->
    <tab id="zoho" translate="label" sortOrder="10">
      <label>Zoho</label>
    </tab>
    -->

    <section id="zoho" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
      <class>separator-top</class>
      <label>Zoho</label>
      <tab>contentful</tab>
      <resource>RTech_Zoho::zoho_config</resource>

      <group id="organisation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Organisation</label>
        <field id="authurl" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Authorisation URL</label>
        </field>
        <field id="refreshtoken" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Refresh Token</label>
        </field>
        <field id="clientid" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Client ID</label>
        </field>
        <field id="clientsecret" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Client Secret</label>
        </field>
      </group>

      <group id="books" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Books</label>
        <field id="url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Endpoint</label>
          <comment>API endpoint URL</comment>
        </field>
        <field id="eu_vat_group" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Magento EU VAT Registered Group</label>
          <comment>Name of Magento customer group for EU VAT registered customners</comment>
          <source_model>RTech\Zoho\Model\Config\Source\CustomerGroups</source_model>
        </field>
      </group>

      <group id="inventory" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Inventory</label>
        <field id="url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Endpoint</label>
          <comment>API endpoint URL</comment>
        </field>
      </group>

      <group id="estimate" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Estimates</label>
        <field id="validity" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Estimate Validity </label>
          <comment>Number of days for estimates to be valid for</comment>
        </field>
        <field id="terms" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Terms &amp; Conditons</label>
          <comment>Terms &amp; conditions text to be added to estimates</comment>
        </field>
        <field id="email" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Email Customer From</label>
          <source_model>RTech\Zoho\Model\Config\Source\FrontendBackend</source_model>
          <comment>Enable Zoho sending of email for estimates created from this area</comment>
        </field>
      </group>

      <group id="invoice" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Invoices</label>
        <field id="terms" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Terms &amp; Conditons</label>
          <comment>Terms &amp; conditions text to be added to invoices</comment>
        </field>
      </group>

    </section>

  </system>
</config>